.messages{
	border-radius: 0.2em;
	padding: 0.5em;
	font-style: bold;
}

.error{
	background-color: #faa;
}

.info{
	background-color: #afa;
}

.bottom-margin{
	margin-bottom: 1em;
}

.top-margin{
	margin-top: 1em;
}
body{
    background-color:#ede6d1;
}
h1{
    text-align: center;
    color: red;
}
.header, .footer, .content { 
	margin: 1em auto;
	border: 0.01em solid #aaa;
	border-radius: 1em;
	padding: 1em;
	background: #f5f5f5;
        box-shadow: 0.2em 0.2em 0.4em #ccc;
}

.header, .footer{ 
	text-align: center;
}

.messages {	margin: 1em auto; }

.err, .inf, .res {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	color: #222;
}

.err { background-color: #f88; }
.inf { background-color: #8f8; }
.res { background-color: #ff0; }



.photo-box, .text-box {
    margin-top: 3em;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
     width: 90%;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 3em;
}
fieldset{
    text-align: center;
    padding: 1em;
    border: 2px solid #0078D7; 
    
}
label{
    text-align: center;
    padding: 1em;
}
button {
  font-size: 1em; 
  padding: 10px 20px; 
  border-radius: 8px; 
  border: 2px solid #0078D7; 
  background-color: #0078D7; 
  color: white; 
  cursor: pointer; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 1em;
  
}